# files
*.dll
*.a
*.exe
*.pdb
*.lib
*.c.txt
*.cmake
*.vcxproj
*vcxproj.user
*.filters
*.sln
*.trace
*.ninja_deps
*.ninja_log
Makefile
CMakeCache.txt

bin/*.exe
!bin/*.dll

# folders
.vscode/
.vs/
.idea/
build/
bin/
lib/
share/
CMakeFiles/
licenses/
cmake/
pkgconfig/
x64/
Testing/
*.dir/


# Beauvoir in-dev folders and files
res/
dev/
*.bin
doxygen.py