# files
*.dll
*.a
*.exe
*.pdb
*.lib
*.c.txt
*.cmake
*.vcxproj
*vcxproj.user
*.filters
*.sln
*.trace
Makefile
CMakeCache.txt

bin/*.exe
!bin/*.dll

# folders
.vscode/
.vs/
build/
share/
CMakeFiles/
licenses/
cmake/
pkgconfig/
x64/
*.dir/


# Beauvoir in-dev folders and files
res/
dev/
doxygen.py